html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("./Images/PWGBG.jpg");
}

body {
    font-family: sans-serif;
    background-image: url("./Images/PWGBG.jpg");
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: whitesmoke;
    font-size: 20px;
}

.card {
    background-image: url("./Images/PWGBG.jpg");
    border-radius: 5px;
    border-width: 1px;
    color: whitesmoke;
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

textarea {
    min-height: 100px;
    
}

.card-footer {
    text-align: center;
    background-image: url("./Images/PWGBG.jpg");
}

.btn {
    border: none;
    background-color: rgb(190, 0, 0);
    border-radius: 25px;
    color: whitesmoke;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

.float-right {
    float: right;
}